 body{
   line-height: 15px;
   font-weight: 400;
   font-size: 15px;
 }
 .topbar_menu{
   display: inline-block;
   margin-left: 100px;
   transform-origin: left center;
   margin-right: 30px;
   width: auto;
   display: flex!important;
   align-items: center;
   height: 55px;
   display: flex;
   justify-content: space-between;
 }
 .topbar_menu--link{
   display: inline-block;
   line-height: 12px;
   font-family: CocoSharp,Arial;
   font-weight: 400;
   font-size: 12px;
   color: #323232;
   text-decoration: none;
   margin: 0 10px;
 }
 .img{
 width:26px;
 height:29px;
 
 }
 .topbar_ctypes{
   display: inline-flex;
   line-height: 20px;
   font-family: CocoSharp,Arial;
   font-weight: 400;
   font-size: 20px;
   color: #FF7A00;
   box-shadow: 0 2px 14px -8px rgb(0 0 0 / 30%);
   border-radius: 5px;
   overflow: hidden;
   height: 35px;
   background: #fff
 }
 .topbar_ctypes-active{
   line-height: 12px;
   font-family: CocoSharp,Arial;
   font-weight: 400;
   font-size: 12px;
   color:  #FF7A00;
   text-decoration: none;
   padding: 10px 20px;
   border: 1px solid transparent;
   border: 1px solid #FF7A00;
 }
 .topbar_ctypes-active1{
   line-height: 12px;
   font-family: CocoSharp,Arial;
   font-weight: 400;
   font-size: 12px;
   color:#FF7A00;
   text-decoration: none;
   padding: 10px 20px;
   border: 1px solid transparent;
  
 
 }
 .topbar_langs{
   display: inline-flex;
   align-items: center;
   border-radius: 5px;
   height: 35px;
   margin-left: 10px;
 }
 .topbar_langs--item{
   line-height: 12px;
   font-weight: 600;
   font-size: 12px;
   box-shadow: 0 2px 14px -10px rgb(0 0 0 / 30%);
   align-items: center;
   text-decoration: none;
   text-transform: uppercase;
   color: #323232;
   padding: 0 8px;
   margin-right: 10px;
   display: inline-flex;
    justify-content: center;
    font-family: CocoSharp,Arial;
    height: 35px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
 }
 .menubar_menu--first{
   padding-left: 0;
 }
 .menubar_menu{
   float: left;
   padding: 30px 15px;
   margin-left: 45px;
   
 }
 .menubar_link{
 
   color: rgb(0, 0, 0);
   text-decoration: none;
    font-size: 18px;
    font-weight: 700;
 }
 .container {
   width: 1176px;
   padding: 0;
   margin-right: auto;
    margin-left: auto;
 }
 .frontbanner{
   max-height: 768px;
   height: 450px;
   border-radius: 10px;
   margin-bottom: 20px; 
 }
 .carousel-item {
   width: 460px;
   height: 331px;
   margin-left: 45px;
  margin-bottom: 105px;
   top: 37px;
 }
 .carousel-inner{
   width:  1200px;
   height: 100%;
   background-color: #FF7A00;
   border-radius: 12px;
   margin-top: 145px;
 }
 .statisticsbar {
   padding: 30px 0;
 }
 .container {
   width: 1176px;
   padding: 0;
   margin-right: auto;
     margin-left: auto;
 }
 .statisticsbar_wrapper {
   overflow: hidden;
 }
 .statisticsbar_wrapper2{
   display: flex;
     margin: 0 -15px;
 }
 .statisticsbar_param-w{
   padding: 0 15px;
     width: calc(100%/4);
 }
 .statisticsbar_param {
   padding: 40px 50px;
   text-align: center;
   background: #FAFAFA;
   border-radius: 10px;
 }
 .statisticsbar_caption {
   line-height: 18px;
   font-family: CocoSharp,Arial;
   font-weight: 700;
   font-size: 18px;
   color: #000;
   vertical-align: inherit;
 }
 .statisticsbar_value {
   font-family: CocoSharp,Arial;
   font-weight: 700;
   font-size: 52px;
   line-height: normal;
   color: #FF6400;
   margin-bottom: 20px;
   margin-top: 15px;
 }
 .statisticsbar_desc{
   line-height: 14px;
    font-family: CocoSharp,Arial;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    margin-top: -20px;
    margin-bottom: 45px;
 }
  .statisticsbar_link{
   display: inline-block;
    font-weight: 700;
    font-size: 14px;
    color: #000;
    line-height: 20px;
    border-radius: 25px;
    box-shadow: 0 10px 10px -10px rgb(255 107 0 / 51%);
    padding: 15px 45px;
    background: #FF6400;
    font-family: CocoSharp,Arial;
  }
  .statisticsbar_link--white{
   color: #fff;
    font-weight: 700;
    text-decoration: none;
  }
  .appbar {
   padding: 35px 0 0;
   position: relative;
}
.appbar_wrapper{
   background: #fafafa;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.appbar_text{
   width: 50%;
   padding-right: 20px;
   padding-left: 70px;
}
.appbar_heading{
   line-height: 28px;
   font-family: CocoSharp,Arial;
   font-weight: 800;
   font-size: 28px;
   color: #FF6400;
   margin: 0 0 20px;
}
.appbar_links{
   margin-bottom: 30px;
}
.hidden--desktop{
   display: none!important;
}
.appbar_link{
   display: inline-block;
   margin-right: 10px;
   text-decoration: none; 
}
